---
import {
  CsrfManager,
  DEFAULT_CSRF_TOKEN_NAME,
} from "../../../libs/repository/csrf";
import { csrfVerify, recaptchaVerify } from "../../../libs/utils";
import { UserManager } from "../../../libs/repository/user";

import CommonLayout from "../../../layouts/CommonLayout.astro";
import { Prisma } from "@prisma/client";

let csrfToken: string = "";
let formInvalid = false;
let formErrorMessage = "";
const recaptchaMode = import.meta.env.VULPECULA_RECAPTCHA;
const recaptchaSiteKey = import.meta.env.VULPECULA_RECAPTCHA_SITE_KEY;

switch (Astro.request.method) {
  case "GET": {
    break;
  }
  case "POST": {
    const body = await Astro.request.formData();
    const cvr = await csrfVerify(body);
    if (cvr !== null) return cvr;

    const recaptchaReponse = await recaptchaVerify(body, Astro.clientAddress);
    if (!recaptchaReponse) {
      formInvalid = true;
      formErrorMessage = "Recaptcha challenge failed.";
      break;
    }

    if (!body.has("email")) {
      formErrorMessage = "Malformed form.";
      formInvalid = true;
      break;
    }

    try {
      const targetUser = await UserManager.fromEmail(
        body.get("email") as string
      );
      const targetUserAuth = await targetUser.getAuth();
      if (targetUserAuth !== null && !targetUserAuth.isEmailVerified)
        targetUser.issueEmailVerificationCode(targetUserAuth.email);
    } catch (e) {
      if (e instanceof Prisma.PrismaClientKnownRequestError) {
        switch (e.code) {
          case "P2025": {
            break;
          }
          default: {
            throw e;
          }
        }
      } else {
        throw e;
      }
    }
    break;
  }
  default: {
    return new Response(null, {
      status: 405,
      statusText: "Method Not Allowed",
    });
  }
}

if (Astro.request.method === "GET" || formInvalid) {
  const cm = new CsrfManager();
  csrfToken = await cm.generateToken();
}
---

<CommonLayout>
  {
    Astro.request.method === "GET" || formInvalid ? (
      <>
        <h1>Issue email verification</h1>
        {formInvalid && <p>{formErrorMessage}</p>}
        <p>
          If your e-mail address has not been verified and you would like the
          e-mail to be resent, please enter your e-mail address in the form
          below.
        </p>
        <form method="post">
          <input
            type="email"
            name="email"
            placeholder="example@example.com"
            required
          />
          {recaptchaMode === "recaptcha" && (
            <div class="g-recaptcha" data-sitekey={recaptchaSiteKey} />
          )}
          {recaptchaMode === "turnstile" && (
            <div class="cf-turnstile" data-sitekey={recaptchaSiteKey} />
          )}
          <input
            type="hidden"
            name={DEFAULT_CSRF_TOKEN_NAME}
            value={csrfToken}
          />
          {recaptchaMode === "recaptcha" && (
            <script src="https://www.google.com/recaptcha/api.js" async defer />
          )}
          {recaptchaMode === "turnstile" && (
            <script
              src="https://challenges.cloudflare.com/turnstile/v0/api.js"
              async
              defer
            />
          )}
          <input type="submit" />
        </form>
      </>
    ) : (
      <>
        <p>
          If the entered email address is correct and unverified, the email
          address will be sent. Please check your Inbox.
        </p>
      </>
    )
  }
</CommonLayout>
